header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  border: 2px solid yellow;
  align-items: center;
}

.title {
  color: white;
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 50px;
}
