/* color: hsl(235, 19%, 35%) hsl(0, 0%, 98%) hsl(236, 33%, 92%) hsl(233, 11%, 84%) hsl(236, 9%, 61%) */
.form-container {
  width: 100%;
  background-color: hsl(235, 24%, 19%);
  height: 70px;
  margin-top: 50px;
  border-radius: 6px;
  display: flex;
}

.check-container {
  flex-basis: 90px;
  background-color: hsl(235, 24%, 19%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(237, 14%, 26%);
}

.new-todo-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.new-todo-input form {
  display: flex;
  flex-grow: 1;
}

.new-todo-input input {
  width: 100%;
  font-size: 18px;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  background-color: transparent;
  padding: 10px 0;
}

.new-todo-input input::placeholder {
  color: hsl(233, 14%, 35%);
}
